<h1 class="exif_data_top">Listing exif_data</h1>

<div class="exif_table">

<table>
  <tr>
    <th>Parent</th>
    <th>Tag</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exif_data.each do |exif_datum| %>
  <tr>
    <td><%= exif_datum.image_id %></td>
    <td><%= exif_datum.tag %></td>
    <td><%= exif_datum.value %></td>
    <td><%= link_to 'Show', exif_datum %></td>
    <td><%= link_to 'Edit', edit_exif_datum_path(exif_datum) %></td>
    <td><%= link_to 'Destroy', exif_datum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>

<div class="bottomCenter"><%= link_to 'New Exif Tag', new_exif_datum_path %></div>
