<h1>Listing images</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Location</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= image.id %></td>
    <td><%= image_tag(image.location, class: 'list_image') %></td>
    <td><%= image.name %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
