<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @image.id %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @image.location, asset_path(@image.location) %>
</p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>

<p><%= image_tag(@image.location, class: 'show_image') %></p>

<table>
	<% @h.each_pair do |key,val|%>
    	<tr>
	    	<td><%= key %></td>
	    	<td><% val.each_pair do |k,v| %>
	    		<%= k %>
	    		<% end %>
	    	</td>
    	</tr>
	<% end %>
</table>