<p id="notice"><%= notice %></p>

<div id="img_info">
<p>
  <b>Id:</b>
  <%= @image.id %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @image.location, asset_path(@image.location) %>
</p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>
</div>

<div id="img_actions">
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
</div>

<p align="center"><%= image_tag(asset_path('thumbnails/'+@image.location)) %></p>

<div id="show_exif_table">
	<table class="show_table">
		<% @ary = [] %>
		<% @h.each_pair do |key,val|%>
	    	<tr>
		    	<td><%= key %></td>
		    	<td><% val.each_pair do |k,v| %>
		    		<%= k %>
		    		<% @ary.push k %>
		    		<% end %>
		    	</td>
	    	</tr>
		<% end %>
	</table>
	<% @str = Marshal.dump(@h) %>
	<%= @h.to_yaml %>
</div>