<!DOCTYPE html>
<html>
<head>
  <title>H1.R0</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='body'>
	<div id="container">
	<div id="top">
		<span id="top_nav_home"><%= link_to "H1.R0", "/" =%></span>
		<span id="top_nav_images"><%= link_to "images", "/images" =%></span>
		<span id="top_nav_exif"><%= link_to "exif", "/exif_data" =%></span>
	</div>
	<div id="content">
		<%= yield %>
	</div>
	<div id="foot">
	</div>
</body>
</html>
